
.gameSlots{
  transition: all linear 0.2s;
  background-color: #b81b1b;
  color:#ffffff;
  overflow:hidden;
  margin:10px;
  border-radius:20px;
}

.ng-enter{
  height: 0px;
  width: 100%;
  background-color: transparent;
  top:0px;
  left: 200px;
}
.ng-leave{
  height: 200px;
  width: 100%;
  background-color: transparent;
  top:0px;
  left: 200px;
}
.gameSlots.ng-hide{
  height: 0px;
  width: 100%;
  top:0px;
  left: 200px;
}
.gameSlots.ng-show{
  height: 200px;
  width: 100%;
  top:0px;
  left: 200px;
}
.view-frame.ng-enter {
  animation: 1s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  animation: 1s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}
