/* app css stylesheet */

.navbar-nav{ 
	margin-top:-10px;
	background-color:none;
	overflow:hidden;
}
.navbar-toggler{
	float:right;
	border:0px solid;
	z-index:20;
	left:90%;
	}
.nav-item{
  display: inline;
  text-decoration:none;
  color:#b81b1b;
  float:right;
}
.nav-item:hover {
  display: inline;
  text-decoration:none;
  color:#ffffff;
}
.nav-item:focus {
  display: inline;
  text-decoration:none;
  color:#ffffff;
}

.navbar-nav > li:before {
  content: "|";
  padding: 0.3em;
  color:white;
  float:right;
}
.footer{
	border-top:0em solid rgb(130, 130, 130);
	padding-top:0.5em;
}
.row{
  border-radius:10px;
  border:0px solid rgb(130, 130, 130);
  padding:0px;
  margin-top:3px;
  margin-bottom:3px;
}
.textBox{
  text-align:right;
}
.navbar-collapse{
	z-index:2;
	background-color:rgb(220,220,220);
  border-radius:10px;
  margin:0px;
}
.navbar-header{
  padding:0px;
  margin:0px;
  border-color:  rgb(180,180,180);
  border-radius: 5px;
  height:55px;
  width:100%;
  border-top:2px solid #ffffff;
  border-bottom:2px solid #999999;
  background-color:rgb(220,220,220);
  min-height: 55px;
}
.navbar-brand{
  margin-top:-16px;
  margin-left:-31px;
  opacity:1;
  float:left;
  position:absolute;
}
.navbar-brand :hover{
  opacity:0.8;
}
.navbar-brand > img :hover{
  width:100px;
  height:100px;
  opacity:0;
}

#logo1{
	position:absolute;
	z-index:11;
	margin-left:0px;
	margin-top:-5px;
	}
#logo2{
	position:absolute;
	z-index:10;
	margin-left:160px;
	margin-top:34px;
	}
#logo3{
	position:absolute;
	z-index:9;
	margin-left:145px;
	margin-top:30px;
	}
.textBox h2{
  color:#ffffff;
  font-weight:bold;}
.textBox p{
  color:#ffffff;
  font-weight:normal;}
 .header{
	color:#ffffff;
  font-weight:bold;
 }
.row{background-color:#b81b1b}
.logo{float:left;padding-left:10px;}
.img-responsive{
	z-index:2;
	border:1px solid;
	border-radius:10px;}
.view{
		position:relative;
		padding-top:55px;
	}