/* app css stylesheet */

.menu {
  list-style: none;
	border-bottom:0.1em solid rgb(33, 122, 173);
  margin-bottom: 0.2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
  text-decoration:none;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.footer{
	border-top:0.1em solid rgb(33, 122, 173);
	padding-top:0.5em;
}
