/* app css stylesheet */

.menu {
  list-style: none;
/*	border-bottom:0.1em solid rgb(130, 130, 130);*/
  margin-top: 1em;
  padding: 0 0 0.5em;
  float:right;
}

.menu:before {
  content: "";
}

.menu:after {
  content: "";
}

.menu > li {
  display: inline;
  text-decoration:none;
  color:red;
}
.nav-item{
  display: inline;
  text-decoration:none;
  color:#b81b1b;
}
.nav-item:hover {
  display: inline;
  text-decoration:none;
  color:#ffffff;
}
.nav-item:focus {
  display: inline;
  text-decoration:none;
  color:#ffffff;
}

.menu > li + li:before {
  content: "";
  padding-right: 0.3em;
}
.footer{
	border-top:0em solid rgb(130, 130, 130);
	padding-top:0.5em;
}
.row{
  border-radius:10px;
  border:1px solid rgb(130, 130, 130);
  padding:10px;
  margin-top:3px;
  margin-bottom:3px;
}
.textBox{
  text-align:right;
}
.navbar-header {
  border:1px solid;
  border-color:  rgb(180,180,180);
  border-radius: 5px;
  height:55px;
  width:100%;
  border-top:2px solid #ffffff;
  border-bottom:2px solid #999999;
  background-color:rgb(220,220,220)
}
.navbar-brand{
  margin-top:-16px;
  margin-left:-31px;
  opacity:1;
}
.navbar-brand :hover{
  opacity:0.8;
}
.navbar-brand > img :hover{
  width:100px;
  height:100px;
  opacity:0;
}
#logo1{
	position:absolute;
	z-index:11;
	margin-left:0px;
	margin-top:-5px;
	}
#logo2{
	position:absolute;
	z-index:10;
	margin-left:160px;
	margin-top:34px;
	}
#logo3{
	position:absolute;
	z-index:9;
	margin-left:145px;
	margin-top:30px;
	}
.textBox h2{
  color:#b81b1b;}