
<div ng-controller="VideoController">
    <div class="container-fluid" >
        
            <video  autoplay muted width="100%" poster="" id="videoPlayer" class="movie"  loop src="{{jsonData[4].videoUrl}}" type="video/mp4">
                
            </video>
            <div class="videoControls">
                    <a href="" class="btnPlay"><span class="glyphicon glyphicon-pause"></span></a>
                    <div class="videoTime">
                        <span class="current"></span>/<span class="duration"></span>
                    </div>          
                 <!--  <a href="#" class="btnFullscreen"><span class="glyphicon glyphicon-fullscreen"></span></a>--> 
                    <a href="" class="btnMute"><span class="glyphicon glyphicon-volume-off"></span></a>
            </div>
    </div>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-12">
                    <div class="textBox">
                        <h2>{{jsonData[4].subTitle}}</h2>
                        <p>{{jsonData[4].description}}</p>
                    </div>
                 </div>
        </div>
        

    </div>
    <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="textBox">
                        <h2>{{jsonData[5].subTitle}}</h2>        
                        <p>{{jsonData[5].description}}</p> 
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="textBox">
                        <h2>{{jsonData[6].subTitle}}</h2>        
                        <p>{{jsonData[6].description}}</p> 
                    </div> 
                </div>
                </br>
    </div>
</div>