
<video autoplay width="100%" poster="assets/img/4Dragons_.jpg" id="videoPlayer" class="movie"  loop> 
        <source src="assets/video/BamBam_promo_08.mp4" type="video/mp4"> 
    Your browser does not support the video tag.
</video>

<!-- Create your own video controls and style with CSS3-->
<div class="videoControls">
    <a href="#" class="btnPlay"><span class="glyphicon glyphicon-play"></span></a>
    <div class="videoTime">
        <span class="current"></span>/<span class="duration"></span>
    </div>          
    <a href="#" class="btnFullscreen"><span class="glyphicon glyphicon-fullscreen"></span></a>
    <a href="#" class="btnMute"><span class="glyphicon glyphicon-volume-up"></span></a>
</div>