<!--Games page content-->

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h2 class="header">Games</h2>
		</div>
	</div>
	<div ng-controller="gameListCtrl">
			
		<div class="gameSlots"ng-repeat="x in jsonData " ng-enter>
			<a href="#!/GameTemplate">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-6">
						<img src="{{x.image}}" class="img-responsive">
					</div>
					<div class="col-sm-6">
						<div class="textbox">
							<h2 class="header">{{x.Name}}</h2>
							<p class="copy">{{x.Description}}</p>
						</div>	
					</div>
				</div>
			
			</div>
			</a>
		</div>
	</div>
</div>